.App {
  text-align: center;
}

.followers-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.follower-card {
  width: 150px;
  margin: 16 px 32px;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.follower-card > img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}